@charset "UTF-8";

h1{
    color: rgb(52, 66, 29);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: dashed 3px rgb(52, 66, 29);
}

h2{
    color: darkolivegreen;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{
    color:darkolivegreen;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

figure.imagem-principal img{
    width: 100%;
    height: 100%;
}

header#cabecalho h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

header#cabecalho figure.imagem-principal{
    border: 8px solid green;
}