h1{
    color: rgb(52, 66, 29);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: dashed 3px rgb(52, 66, 29);
}

h2{
    color: darkolivegreen;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{
    color:darkolivegreen;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

figure.imagem-principal img{
    border-radius: 50 px;
}